@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  background-color:#290a7f;
  font-family: "poppins";
}
.App {
  text-align: center;
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  background: #12b34a;
  border-radius: 10px;
  margin-top: 5rem;
  padding: 2rem;
  width:40rem;
}

input {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  outline: none;
  width: 350px;
  border-radius: 30px;
  background-color: #fff;
}

button {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  background-color: #e53a13;
  color: #fff;
  margin: 0 10px;
  cursor: pointer;
}

button:hover {
  background-color: #d73510;
}
